name: Wayland

on:
  workflow_dispatch:
  push:
    paths:
      - 'RGFW.h'
      - 'Makefile'
      - 'examples/**'
      - '.github/workflows/wayland.yml'
    branches:
      - main
  pull_request:
    paths:
      - '**'
      - 'examples/**'
      - '.github/workflows/wayland.yml'
  release:
    types: [published]

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write  # for actions/upload-release-asset to upload release asset
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        bits: [64]
        include:
        - bits: 64
          ARCH: "x86_64"
          ARCH_NAME: "amd64"
          COMPILER_PATH: "/user/bin"

    env:
      RELEASE_NAME: RGFW-dev_linux_${{ matrix.ARCH_NAME }}

    steps:
    - name: Checkout code
      uses: actions/checkout@master

      #- uses: mlugg/setup-zig@v1


    - name: Setup Release Version
      run: |
        echo "RELEASE_NAME=RGFW-${{ github.event.release.tag_name }}_linux_${{ matrix.ARCH_NAME }}" >> $GITHUB_ENV
      shell: bash
      if: github.event_name == 'release' && github.event.action == 'published'

    - name: Setup Environment
      run: |
        sudo apt-get update -qq
        sudo apt-get install gcc-multilib
        sudo apt-get install -y --no-install-recommends libx11-dev mesa-common-dev libglx-dev libxcursor-dev mesa-vulkan-drivers libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev libxext-dev libxfixes-dev libwayland-dev libxkbcommon-dev wayland-protocols libgles2-mesa-dev libosmesa6-dev
        mkdir build
        cd build
        mkdir ${{ env.RELEASE_NAME }}
        cd ${{ env.RELEASE_NAME }}
        mkdir include
        mkdir lib
        cd ../../../RGFW

    - name: test wayland
      run: |
        make WAYLAND_X11=1
        make WAYLAND=1
    - name: Build Library
      run: |
        make libRGFW.a WAYLAND_X11=1
        make libRGFW.so WAYLAND_X11=1
        cp -v ./libRGFW.so ./build/${{ env.RELEASE_NAME }}/lib
      if: matrix.bits == 64
