name: Build WebAssembly

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Emscripten
      uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.52
      
    - name: Build doxygen docs
      uses: mattnotmitt/doxygen-action@v1.9.5
      with:
          working-directory: './'
          doxyfile-path: './Doxyfile'
      
    - name: Compile to WebAssembly
      run: |
        git clone https://github.com/NishiOwO/osmesa     
        cd osmesa
        make TARGET=emscripten CC=emcc AR=emar
        cd .. 

        make CC=em++ examples/osmesa_demo/osmesa_demo NO_OSMESA=0 CFLAGS="-Iosmesa/include -Losmesa"
        make clean        
        make CC=emcc examples/osmesa_demo/osmesa_demo NO_OSMESA=0 CFLAGS="-Iosmesa/include -Losmesa"
        make clean        

        make CC=em++ NO_OSMESA=1 
        make clean
        make CC=emcc NO_OSMESA=1
        mv html docs

    - name: get nuklear wasm
      run: |
        cd wasm 
        wget https://github.com/ColleagueRiley/nuklear_rgfw/raw/main/rgfw_opengl2/rgfw-nuklear.wasm
        wget https://raw.githubusercontent.com/ColleagueRiley/nuklear_rgfw/main/rgfw_opengl2/rgfw-nuklear.js
        
    - name: Deploy Pages
      if: github.event_name != 'pull_request' 
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./
